@charset "utf-8";
/* CSS Document */

.body1{
    background: url(fondo.jpg) no-repeat center center fixed;
    background-size:cover;
}

.body2{
	background-color:#000;
}

.cajalogin {
	width:350px;
	height:470px;
	color:#FFF;
	background:#000;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:60px 30px;
	border:#00C;
	border-radius:50px;
	
}

.tablarespuestas{
	width:500px;
	height:100px;
	padding:50px 20px;	

}

.cajapreguntas {
	width:650px;
	height:270px;
	color:#FFF;
	background-color:transparent;
	position:absolute;
	top:75%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:60px 30px;
	border-bottom:10px #000000;
	border-radius:50px;
	
}

.imagenes {
	
	width:300px;
	height:400px;
		
}

.cajaregistro {
	width:350px;
	height:570px;
	color:#FFF;
	background:#000;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:60px 30px;
	border:#00C;
	border-radius:50px;
	
}

.inputloquete,.inputcontra{
	width:95%;
	padding:5px;
	border:none;
	background:none;
	outline:0;
	color:#FFF;
	border-bottom:1px solid #06C;
	
}

.respuestas{
	width:200px;
	padding:5px;
	border: #FFF;
	background: #FFF;
	color: #000;
	border-radius:50px;
	
	
}

.respuestasd{
	width:200px;
	padding:5px;
	border: #FFF;
	background: #FFF;
	color: #000;
	border-radius:50px;
	text-align:right;
	
}

.cajatitulo {
	width:750px;
	height:100px;
	color: #09C;
	position:absolute;
	top:-100px;
	left:-160px;
	
}

.tuclase {
	text-align: left; 
	font-family: Arial; 
	font-size: 60px;
	COLOR: #000; 
	text-shadow: 0px 0px 9px #508AD3;
}

.botonfantasma {
	width:100px;
	alignment-adjust:middle;
	display:inline-block;
	border:2px solid #FFF;
	padding:20px,40px;
	border-radius:100px;
	color: #000;
	font-weight:700;
	text-decoration:none;
	background: #FFF;
	alignment-adjust:central;
	
}

.botonfantasmar {
	width:125px;
	alignment-adjust:middle;
	display:inline-block;
	border:2px solid #FFF;
	padding:20px,40px;
	border-radius:100px;
	color: #000;
	font-weight:700;
	text-decoration:none;
	background: #FFF;
	alignment-adjust:central;
	
}

.colocador {
	text-align:center;
}

.botonfantasma:hover{
	color: #06F;
	background-color:transparent;
	-webkit-animation-name: botonsito; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-fill-mode: forwards;
	animation-name:botonsito;
	animation-duration:1s;
}

.botonfantasmar:hover{
	color: #06F;
	background-color:transparent;
	-webkit-animation-name: botonsito; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-fill-mode: forwards;
	animation-name:botonsito;
	animation-duration:1s;
}

.respuestas:hover{
	color: #06F;
	background-color:transparent;
	-webkit-animation-name: botonsito; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-fill-mode: forwards;
	animation-name:botonsito;
	animation-duration:1s;
}

.imagenesjuego {
	width:300px;
	height:auto;
	margin:auto;
	display:block;
	border-radius:20px;
	
}

@keyframes botonsito {
	0% { background-color:#FFF; color:#000;}
	100% { background-color: #000; color: #06F;}
}

.titulito{
	alignment-adjust:alphabetic;
	
	
}

